
{% extends "course/index.html" %}

{% block content %}

	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="{% url 'index' %}">Главная</a></li>
			<li class="active">Вход</li>
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-xs-12 maincontent">
				<header class="page-header">
					<h1 class="page-title">Вход</h1>
				</header>
				
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
					<div class="panel panel-default">
						<div class="panel-body">
							<h3 class="thin text-center">Войдите в свой аккаунт</h3>
							<p class="text-center text-muted">Еще не создали аккаунт? <a href={% url 'user_profile:register' %}>Зарегистрируйтесь</a> и начните обучение на CryptoCourse. </p>
							<hr>
							<form method="POST" action="{% url 'user_profile:login_view' %}" id="singin">
								<p id="error-login" class="text-danger"></p>
								  {% csrf_token %}
								  <div class='validation_info'></div>
								  <p>
							    	{{ form.username.label_tag }}
							    	{{ form.username }}
							    </p>
							    <p>
							    	{{ form.password.label_tag }}
							    	{{ form.password }}
							    </p>
								  {% if form.login_error%}
								  <label class="error" id="error-login"> {{ login_error }}</label>
								  {% endif %}
								<input type="submit" class="btn btn-warning botton-task" value="Вход"/>
																
							</form>
						</div>
					</div>

				</div>
				
			</article>
			<!-- /Article -->

		</div>
	</div>	<!-- /container -->
	

{% endblock %}