
{% extends "course/index.html" %}

{% block content %}


	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="{% url 'index' %}">Главная</a></li>
			<li class="active">Регистрация</li>
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-xs-12 maincontent">
				<header class="page-header">
					<h1 class="page-title">Регистрация</h1>
				</header>
				
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
					<div class="panel panel-default">
						<div class="panel-body">
							<h3 class="thin text-center">Создать аккаунт</h3>
							<p class="text-center text-muted">Если Вы уже разегистрированы, <a href={% url 'user_profile:login_view' %}>Войдите</a> и продолжайте обучение на CryptoCourse. </p>
							<hr>
							{% if error %}
								 <p> {{ error }}</p>
							{% endif %}
							<form method="post" action="{% url 'user_profile:register' %}" id="signup">
								{% csrf_token %}
							    <!-- as_p для того, чтобы каждый элемент формы был с новой строки -->
							    <p id="error-login" class="text-danger"></p>
							    <p>
							    	{{ form.username.label_tag }}
							    	{{ form.username }}
							    </p>
							    <p>
							    	{{ form.email.label_tag }}
							    	{{ form.email }}
							    </p>
							    <p>
							    	{{ form.password.label_tag }}
							    	{{ form.password }}
							    </p>
							    <center><input type="submit" class="btn btn-warning botton-task" value="Зарегистрироваться"/></center>
															
							</form>
						</div>
					</div>

				</div>
				
			</article>
			<!-- /Article -->

		</div>
	</div>	<!-- /container -->
	
		
{% endblock %}