{% extends "course/index.html" %}
{% block content %}
<!-- Header -->
	<header id="head">
		<div class="container">
			<div class="row">
				<h1 class="lead">CryptoCourse</h1>
				<p class="tagline"> Онлайн-курсы по криптографии и шифрованию</p>
				{% if request.user.is_authenticated %}
				<p> <a href="{% url 'course:index' %}" class="btn btn-action btn-lg" role="button">НАЧАТЬ</a></p>
				{% else %}
				<p> <a href="{% url 'user_profile:login_view' %}" class="btn btn-action btn-lg" role="button">НАЧАТЬ</a></p>
				{% endif %}
			</div>
		</div>
	</header>
	<!-- /Header -->

	<!-- Intro -->
	<div class="container text-center">
		<br> <br>
		<h2 class="thin">Лучший способ выучить криптографию</h2>
		<p class="text-muted">
			Мы создали для Вас самый подробный интерактивный курс о методах шифрования.<br> Более 100 заданий помогут Вам освоить криптографию без труда.
		</p>
	</div>
	<!-- /Intro-->
		
	<!-- Highlights - jumbotron -->
	<div class="jumbotron top-space">
		<div class="container">
			
			<h3 class="text-center thin">Причины использовать CryptoCourse</h3>
			
			<div class="row">
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-book  fa-5"></i>Всё в одном </h4></div>
					<div class="h-body text-center">
						<p>На сайте собран теоретический материал по всем осповным методам шифрования.
						Вам больше не придется искать информацию на разных ресурсах. Просто выберете интересующий Вас курс.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-key fa-5"></i>Практика</h4></div>
					<div class="h-body text-center">
						<p> В каждом курсе содержатся бесплатные интерактивные задания, 
						проходя которые вы сможете понять суть криптографических методов, а так же научитеть применять их на практике.  </p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-check-square-o fa-5"></i>Повторение</h4></div>
					<div class="h-body text-center">
						<p>После того как вы выполните все задания, вы сможете пройти тест. 
						Он помежет Вам определить насколько хорошо Вы освоии теоретический и практический материал.
						Если результат Вас не устроит, пройдтите курс снова!</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-bar-chart-o fa-5"></i>Результаты</h4></div>
					<div class="h-body text-center">
						<p> Вы всегда можете посмотреть насколько плодотворным было ваше обучение. 
						На личной странице пользователя Вы найдете оценки за пройденные тесты и количество выпоненных заданий в виде инфографики.</p>
					</div>
				</div>
			</div> 
		
		</div>
	</div>
	<!-- /Highlights -->

	<!-- container -->
	<div class="container">

		<div class="jumbotron top-space">
			<h4><em>« Каждый день, в который вы не пополнили своего образования хотя бы маленьким, но новым для вас куском знания... 
			считайте бесплодно и невозвратно для себя погибшим. »</em></h4>
     		<p class="text-right"><em>Константин Сергеевич Станиславский</em></p>
  		</div>

</div>	<!-- /container -->
{% endblock %}